<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkage.repository.RoleMapper">
  <resultMap id="BaseResultMap" type="com.linkage.domain.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modify_time" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, status, create_time, modify_time, type, remark
  </sql>
  <select id="getRoleByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertRole" parameterType="com.linkage.domain.Role">
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
        id,
        name,
        status,
        create_time,
        modify_time,
        type,
        remark,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
        #{status,jdbcType=INTEGER},
        #{create_time,jdbcType=TIMESTAMP},
        #{modify_time,jdbcType=TIMESTAMP},
        #{type,jdbcType=INTEGER},
        #{remark,jdbcType=VARCHAR},
    </trim>
  </insert>
  <update id="updateRole" parameterType="com.linkage.domain.Role">
    update t_role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
        modify_time = #{modify_time,jdbcType=TIMESTAMP},
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_role
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="selectByRoleId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_role
    where id = #{value}
  </select>

  <select id="rolePage" resultMap="BaseResultMap" parameterType="com.linkage.viewmodel.role.RolePageRequestVM">
    SELECT
    <include refid="Base_Column_List"/>
    FROM t_role
    <where>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkage.domain.Role">
    update t_role
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null">
        modify_time = #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>