<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkage.repository.StudentMapper">
    <resultMap id="BaseResultMap" type="com.linkage.domain.Student">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="descrption" jdbcType="VARCHAR" property="descrption"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modify_time"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, descrption, status, modify_time, create_time
    </sql>
    <select id="getByStudentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_student
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insertByStudent" parameterType="com.linkage.domain.Student">
        insert into t_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            descrption,
            status,
            modify_time,
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="descrption != null">
                #{descrption,jdbcType=VARCHAR},
            </if>
            #{status,jdbcType=INTEGER},
            #{modify_time,jdbcType=TIMESTAMP},
            #{create_time,jdbcType=TIMESTAMP},
        </trim>
    </insert>
    <delete id="deleteStudent" parameterType="java.lang.Integer">
        delete
        from t_student
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <update id="updateStudent" parameterType="com.linkage.domain.Student">
        update t_student
        <set>
            <if test="descrption != null">
                descrption = #{descrption,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="modify_time != null">
            modify_time = #{modify_time,jdbcType=TIMESTAMP},
            </if>
            <if test="create_time != null">
            create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByStudentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_student
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="studentPage" resultMap="BaseResultMap" parameterType="com.linkage.viewmodel.student.StudentResponseVM">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_student
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.linkage.domain.Student">
        update t_student
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="descrption != null">
                descrption = #{descrption,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="modify_time != null">
                modify_time = #{modify_time,jdbcType=TIMESTAMP},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
